/* Reset some default styles for better cross-browser consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common styles for all screen sizes */
body {
    background-image: url("images/alumov.png");
    background-repeat: no-repeat;
    background-size: cover; /* Changed to cover for a responsive background */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #002E6D;
    padding: 20px 35px;
    position: fixed;
    width: 100%;
    z-index: 1; /* Ensure header stays above other content */
}

.logo {
    padding: 10px 10px 10px 50px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo img {
    width: 105px;
    height: 20px;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px 0px 0px 50px;
    height: 100%;
    align-items: center;
}

.banner {
    text-align: center;
    padding-top: 95px;
    flex-wrap: wrap;
}

.banner h1 {
    font-size: 32px;
    color: #9e2027;
    margin-bottom: 15px;
}

.banner p {
    font-size: 18px;
    color: #022455;
    font-family: cursive;
    padding-top: 25px;
}

.nex-obj {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px; /* Adjusted margin for responsiveness */
}

.nexus-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*gap: 20px; /* Adjusted gap for responsiveness */
}

.nexus h2 {
    font-size: 24px;
    color: #be1414;
    margin-bottom: 15px;
}

.nexus p {
    font-size: 16px;
    font-weight: 600;
    color: #e8e7ec;
    margin-bottom: 15px;
}

.objectives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.objectives h3 {
    font-size: 24px;
    color: #bb0909;
    margin-bottom: 15px;
}

.objectives p {
    font-size: 16px;
    font-weight: 720;
    color: #e8e7ec;
    margin-bottom: 15px;
    margin-top: 30px; /* Adjusted margin for responsiveness */
}

.overview {
    background-image: url("images/socials.jpeg");
    background-size: cover;
    flex-wrap: wrap;
}

.overview-inside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 0px;
}

.overview h4 {
    color: #ffffff;
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 1;
    text-align: left;
}

.overview p {
    color: #FFFFFFA6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.4px;
}

.logo-socials {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF75;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 8px 0px;
    margin: 0px 45px;
    /*padding-top: 15px;
    padding: 0px 45px;*/
}

.logo-socials-alu {
    max-width: 26%;
    max-width: 26%;
    vertical-align: middle;
    display: inline-block;
    height: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
    aspect-ratio: auto 1258 / 228;
    overflow-clip-margin: content-box;
    overflow: clip;
        overflow-x: ;
        overflow-y: ;
    padding: 10px;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.socials a {
    margin-left: 10px;
    margin-right: 10px;
}

/*.hr {
    color: #f1eeee;
    padding: 0px 45px;
    line-height: 1;
    font-size: 0;
}*/

.about-stay-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 45px;
}

.about-alu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
}

.stay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-content: flex-start;
}

.stay a {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF75;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 8px 0px;
}

.stay span {
    color: #FFFFFFA6;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.4px;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: flex-start;
}

footer {
    text-align: center;
    padding: 15px;
    background: #D00D2D;
    color: #FFFFFFA6;
    height: 70px;
}